<h2><%= @restaurant.name %></h2>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<%= link_to "go back to overview", restaurants_path %>

<%= link_to "add restaurant", edit_restaurant_path %>
